<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <nav class="navbar">
        <div class="left-section">
          <a href="./index.html">Aneeka Geo</a>
        </div>
        <div class="right-section">
            <a href="./index.html" >Home</a>
            <a href="./about.html" class="active">About</a>
            <a href="./skills.html">Skills</a>
            <a href="./contact.html">Contact</a>
        </div>
    </nav>
    <div class="hero">
        <div class = "about-section">
            <div class="about-content">
                <h1 class="animate__animated animate__fadeIn">About Me</h1>
                <p class="animate__animated animate__fadeInUp">Welcome to my portfolio. <br> I am a passionate web developer and designer</p>
                <!-- Add more content as needed -->
            </div>
            <div class="about-image">
                <img src="../static/images/about.png" alt="About">
            </div>
        </div>
    </div>
</body>
</html>