<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <nav class="navbar">
        <div class="left-section">
          <a href="./index.html">Aneeka Geo</a>
        </div>
        <div class="right-section">
            <a href="./index.html" >Home</a>
            <a href="./about.html" >About</a>
            <a href="./skills.html">Skills</a>
            <a href="./contact.html" class="active">Contact</a>
        </div>
    </nav>

<div class="hero" id="contactMe-container">
    <div class = "about-section">
        <div class="about-content">
            <h2 class="animate__animated animate__fadeIn">Contact Me</h2>
            <p>Email : <italic>aneekageo@experionglobal.com</italic>
            <br>Mob : <italic>+91 1234567890</italic></p>
            <h2>Connect</h2>
        <div class="social-links">
            <span><a href="https://www.linkedin.com/in/" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a></span>
            <span><a href="https://github.com/" target="_blank"><i class="fa fa-github fa-2x"></i></a></span>
        </div>
        </div>
        <div class="about-image">
            <img src="../static/images/contact.png" alt="contact">
        </div>
    </div>
</div>
</body>
</html>