<!DOCTYPE html>
<html lang="en">
<head>
    
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-q4oD3XNpe7U4IO8zMzGDC/3zJwD5vUEO4uL2aMhIy6JPeKr+k84c06dFhjZ41QVMbR3e4fvukB3yoHAml1pD3Q==" crossorigin="anonymous" />

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../static/style.css">
    <title>Portfolio</title>
</head>
<body>

    <nav class="navbar">
        <div class="left-section">
          <a href="./index.html">Aneeka Geo</a>
        </div>
        <div class="right-section">
            <a href="./index.html" class="active">Home</a>
            <a href="./about.html">About</a>
            <a href="./skills.html">Skills</a>
            <a href="./contact.html">Contact</a>
        </div>
    </nav>
      

    <div class="hero">
        <div class = "about-section">
            <div class="detail">
                <h1 class="">Hey!!</h1>
                <p>This is</p><h1 class="animate__animated animate__fadeIn">ANEEKA GEO</h1>
                <p class="animate__animated animate__fadeInUp">Software Developer | Experion Technologies</p>
            </div>
            <div class="about-image" id="home-image">
                <img src="../static/images/hi.png" alt="Swinging Image" class="animated-image">
            </div>
        </div>
    </div>
</body>
</html>
